{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>分配角色</title>
    <link
      rel="stylesheet"
      href="{% static 'backend/css/role_management.css' %}"
    />
  </head>
  <body>
    <div class="container">
      <h2>分配角色給 {{ user.username }}</h2>
      <form method="post">
        {% csrf_token %}
        <label for="role">選擇角色:</label>
        <select id="role" name="role">
          {% for role in roles %}
          <option value="{{ role.id }}">{{ role.name }}</option>
          {% endfor %}
        </select>
        <button type="submit">保存</button>
      </form>
      <button onclick="window.history.back()">回到上一頁</button>
    </div>
  </body>
</html>
