<!DOCTYPE html>
<html>
<head>
    <title>User List</title>
</head>
<body>
    <h1>User List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Phone</th>
                <th>DepartmentID</th>
                <th>PositionID</th>
                <th>BranchID</th>
                <th>Module</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            {% for user in all_users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.departmentID }}</td>
                <td>{{ user.positionID }}</td>
                <td>{{ user.branchID }}</td>
                <td>{{ user.module }}</td>
                <td>{{ user.gender }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
