body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
  }
  .header-bar {
    width: 100%;
    background-color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  h2 {
    text-align: center;
    margin-top: 60px; /* 调整标题的顶部间距，使其不被黑色條覆蓋 */
  }
  .change-password-form {
    max-width: 400px;
    margin: 80px auto 0; /* 调整表單的顶部间距，使其不被黑色條覆蓋 */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
  }
  .input-container {
    margin-bottom: 10px;
  }
  .input-container label {
    display: block;
    margin-bottom: 5px;
  }
  .input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .button-container {
    text-align: center;
  }
  .button-container button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
  }
  .button-container button.cancel {
    background-color: #6c757d;
  }
  .back-home {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  .back-home button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #1404f6; /* Green background */
    color: white; /* White text */
    border: none;
    border-radius: 5px;
  }
  .back-home button:hover {
    background-color: #0a24eb;
  }
  .navbar {
    position: absolute;
    top: 60px; /* 调整导航栏的位置 */
    left: 20px;
  }
  .dropdown {
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 0;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown .dropbtn {
    background-color: #007bff;
    color: white;
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  