/* 全局字体和大小设置 */
@import '~@fortawesome/fontawesome-free/css/all.css';
/* body {
    font-family: 'Poppins', sans-serif;
    font-size: 40px; /* 你可以根据需要调整这个值 */
    /* color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */ */
  
  /* 其他全局样式 */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  p {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
/* src/assets/css/global.css 或 App.vue */
body {
  font-size: var(--font-size, 16px);
}
