body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: #f2f2f2;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  overflow: hidden;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background-color: white;
  padding: 40px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 100%;
  max-width: 400px;
}

.login-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}
/* 
.input-group {
  margin-bottom: 15px;
  text-align: left;
} */
/* 
.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
} */

/* .input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
} */

/* .remember-me-container {
  display: flex;
  align-items: center;
  text-align: left;
} */

.remember-me-container input[type="checkbox"] {
  margin-left: 10px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-sizing: border-box;
}

.login-button:hover {
  background-color: #279e42;
}

.links {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.links a {
  font-size: 14px;
  color: #6200ea;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}
