.profile-page {
    display: flex;
  }
  
  .main-panel {
    flex-grow: 1;
    padding: 20px;
    transition: margin-left 0.3s;
  }
  
  .profile-card-container {
    margin-top: 50px;
  }
  
  .edit-profile-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
  }
  
  .input-group-container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .input-group {
    flex: 1;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .save-button, .cancel-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .save-button {
    background-color: #6200ea;
    color: white;
  }
  
  .cancel-button {
    background-color: #ccc;
    color: white;
  }
  
  .save-button:hover {
    background-color: #3700b3;
  }
  
  .cancel-button:hover {
    background-color: #999;
  }
