.sidebar {
  /* height: calc(100% - 60px);  */
  width: 60px;
  position: fixed;
  top: 69px;
  left: 0;
  background-color: #636262;
  overflow-x: hidden;
  transition: width 0.3s;
  padding-top: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.sidebar.open {
  width: 200px;
}

.sidebar a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  transition: background 0.3s, color 0.3s;
}

.sidebar a:hover {
  background-color: #575757;
}

.sidebar a .icon {
  margin-right: 10px;
  display: inline-block;
  width: 25px;
  text-align: center;
  font-size: 33px;
}

.sidebar.open a .text {
  display: inline-block;
}

.sidebar a .text {
  display: none;
}

.sidebar .toggle-btn {
  position: absolute;
  top: 10px;
  left: -120px;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.sidebar-header {
  margin-top: 30px;
  padding: 10px 15px;
  font-size: 25px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sidebar-header img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.sidebar a:not(.logout) {
  flex-grow: 0.05;
}

.logout {
  margin-top: auto;
  padding-bottom: 20px;
}

.content {
  margin-left: 60px;
  padding: 20px;
  transition: margin-left 0.3s;
}

.content.shift {
  margin-left: 200px;
}
