asgiref==3.8.1
colorama==0.4.6
Django==5.0.6
django-cors-headers==4.4.0
django-formtools==2.5.1
django-otp==1.5.1
django-phonenumber-field==7.3.0
django-two-factor-auth==1.16.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
phonenumbers==8.13.40
PyJWT==2.8.0
PyMySQL==1.1.1
pyotp==2.9.0
pypng==0.20220715.0
qrcode==7.4.2
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
