{% load static %}
<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>忘記密碼</title>
    <link
      rel="stylesheet"
      href="{% static 'frontend/css/forgot_password.css' %}"
    />
  </head>
  <body>
    <h2>忘記密碼</h2>

    <form action="{% url 'forgot_password' %}" method="post">
      {% csrf_token %}
      <label for="username">帳戶：</label>
      <input type="text" id="username" name="username" required />

      <label for="email">電子郵件：</label>
      <input type="email" id="email" name="email" required />

      <button type="submit">發送</button>
    </form>
  </body>
</html>
